body {
  all: unset;
  
}

form {
  width: 100%;
  display: inline-flex;
}

header {
  width: 100%;
  height: 3rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  background-color: #134;
  box-shadow: 0 2px 3px rgba(40, 40, 40, .5);
}

section {
  width: 100%;
  height: calc(100vh - 3rem);
  display: flex;
  justify-content: center;

  background-image: url(../images/beach01-grain02.jpg);
  background-size: cover;
}

button::-moz-focus-inner {
  border: 0;
}

.title {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20pt;
}

.wrapper {
  position: relative;
  /* animation: fadeIn 2s; */
}

.wrapper--middle {
  width: 60%;
  align-self: center;
  
  border-radius: 5px;
}

.wrapper--bottom {
  width: 100%;
  align-self: flex-end;
  
  border-radius: none;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.row {
  width: 100%;
  display: flex;
  
  opacity: .9;
}

.control-button {
  width: 50px;
  height: 10px;
  line-height: 10px;
  margin: 0 auto;
  position: relative;
  
  color: white;
  background-color: #034;
  border: none;
}

#upBtn {
  display: none;

  border-radius: 10px 10px 0 0;
}

#downBtn {
  border-radius: 0 0 10px 10px;
}

.quick-commands {
  width: 100%;
  padding: 10px;

  background-color: #034;
  border-radius: 10px 10px 0 0;
}

.quick-button {
  color: white;
  background-color: #034;
  font-size: 10pt;
  border: none;
}

.div-area {
  margin: 0;
  padding: 10px;
  width: 100%;
  line-height: 2.5ex;
  overflow-y: scroll;
  scrollbar-width: none;
  box-sizing: content-box;

  color: white;
  background-color: #145;
  font-size: 14pt;
  font-family: 'Courier New', Courier, monospace;
  border-width: 0 2px;
  border-style: solid;
  border-color: rgba(17, 51, 68, .9);
}

.div-area--middle {
  height: calc(50ex + 20px);
}

.div-area--bottom {
  height: calc(30ex + 20px);
}

.l-text {
  line-height: 2.5ex;

  text-align: left;
}

.r-text {
  line-height: 2.5ex;
  
  text-align: right;
}

.game-input {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 12px;
  position: relative;

  color: white;
  background-color: #034;
  font-size: 14pt;
  font-family: 'Courier New', Courier, monospace;
  border: none;
  border-radius: 0 0 0 10px;
  box-shadow: 0 3px 3px rgba(40, 40, 40, .5);
}

.game-button {
  color: white;
  background-color: #034;
  font-size: 20pt;
  border: none;
  border-radius: 0 0 10px 0;
  box-shadow: 0 3px 3px rgba(40, 40, 40, .5);
}

@media (max-width: 800px) {
  .wrapper--middle {
    width: 95%;
  }
}